---
Language:        Cpp
BasedOnStyle: Google
ColumnLimit:     101
IndentWidth:     4
PointerAlignment: Left
TabWidth: 4
AccessModifierOffset: -3
ConstructorInitializerIndentWidth: 6
ContinuationIndentWidth: 4
...
